[user]
	name = Niels Mokkenstorm
	email = niels@mokkenstorm.dev

[includeIf "gitdir:~/Developer/riotbyte/"]
	path = ~/.gitconfig-riotbyte

[includeIf "gitdir:~/Developer/skalar/"]
	path = ~/.gitconfig-skalar
[core]
	excludesfile = /Users/niels/.globalgitignore
[pull]
	rebase = false
[rebase]
	instructionFormat = (%an <%ae>) %s
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	tree = log --oneline --decorate --all --graph
[commit]
	gpgsign = false
[tag]
	gpgsign = false

[color]
	ui = auto

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[color "branch"]
	current = magenta bold
	local = white
	remote = cyan

[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
